*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background:#f5f7fb;
    display:flex;
    color:black;
}

/*ESQUERDA*/

.esquerda{
    width: 280px;
    min-height:100vh;
    background: linear-gradient(
    to bottom,
    #011D42 0%,
    #034AA8 100%
    );
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    position:fixed;
    left:0;
    top:0;
    padding:30px 22px;
}

.esquerda nav{
    display:flex;
    flex-direction:column;
    gap:8px;
    margin-bottom: 370px;
}

.esquerda nav a{
    color:white;
    text-decoration:none;
    display:flex;
    align-items:center;
    gap:14px;
    padding:14px 18px;
    border-radius:12px;
    transition:.3s;
    font-size:15px;
    font-weight:500;
}

.ativo{
    background-color: #9999991c;
}

.esquerda nav a i{
    width:20px;
    text-align:center;
    font-size:18px;
}

.esquerda nav a:hover{
    transform: scale(1.1);
    background:rgba(255, 255, 255, 0.082);
}

.logo{
    text-align:center;
}

.logo img{
    width:200px;
}

.linha{
    width:100%;
    height:1px;
    background:rgba(255, 255, 255, 0.801);
    margin:28px 0;
}

.usuario{
    display:flex;
    align-items:center;
    gap:15px;
    padding-top:30px;
    border-top:1px solid rgba(255,255,255,.25);
}

.foto{
    width:50px;
    height:50px;
    border-radius:50%;
    background:white;
    color:#005EB8;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    font-size:18px;
}

.dados h4{
    color:white;
    font-size:15px;
    margin-bottom:4px;
}

.dados span{
    color:#dbe8ff;
    font-size:13px;
}

/*DIREITA*/

.conteudo{
    margin-left:280px;
    padding: 30px;
}

.topo{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
}

.topo h1{
    font-size:34px;
    margin-bottom:8px;
}

.topo p{
    color:#6b7280;
    font-size:15px;
}

.notificacao{
    width: 55px;
    height: 55px;
    border-radius:16px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    cursor:pointer;
    transition:.3s;
}

.notificacao:hover{
    transform: scale(1.15);
}

.notificacao i{
    font-size:22px;
    color: black;
}

/*CARDS*/

.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap: 20px;
    margin-bottom:35px;
}

.card{
    background:white;
    border-radius:18px;
    padding:22px;
    display:flex;
    align-items:center;
    gap:18px;
    box-shadow:0 8px 30px rgba(0,0,0,.06);
    transition:.3s;
}

.icone{
    width:65px;
    height:65px;
    border-radius:16px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:28px;
}

.azul{
    background:#e8f1ff;
    color:#005EB8;
}

.verde{
    background:#eafaf2;
    color:#14b86a;
}

.amarelo{
    background:#fff7df;
    color:#f5a300;
}

.cinza{
    background:#f2f4f7;
    color:#374151;
}

.texto span{
    font-size:14px;
    color:#6b7280;
}

.texto h2{
    margin:6px 0;
    font-size:30px;
    color: black;
}

.texto p{
    font-size:15px;
    color:#9ca3af;
}

/* FILTRO */

.filtros{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 35px;
    box-shadow: 0px 15px 20px rgba(0,0,0,.06);
}

.filtros h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.filtros label{
    font-size: 15px;
    font-weight: bold;
}

.filtros form{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

.grupo input,
.grupo select{
    width:100%;
    height:30px;
    margin-top: 7px;
    padding:0 15px;
    border:1px solid #d9dee7;
    border-radius:10px;
    background:#fff;
    font-size:14px;
    outline:none;
    transition:.3s;
}

.botoes-filtro{
    grid-column:1/-1;
    display:flex;
    justify-content:flex-end;
    gap:15px;
    margin-top:10px;
}

.btn-limpar{
    padding:13px 30px;
    border:none;
    border-radius:10px;
    background:#005EB8;
    color:#fff;
    font-size:15px;
    font-weight:600;
    display:flex;
    align-items:center;
    gap:10px;
    cursor:pointer;
    transition:.3s;
}

.btn-limpar:hover{
    transform:translateY(-2px);
}

.btn-buscar{
    padding:13px 30px;
    border:none;
    border-radius:10px;
    background:#005EB8;
    color:#fff;
    font-size:15px;
    font-weight:600;
    display:flex;
    align-items:center;
    gap:10px;
    cursor:pointer;
    transition:.3s;
}

.btn-buscar:hover{
    transform:translateY(-2px);
}

.btn-buscar i{
    font-size:15px;
}

.grupo select,
.grupo input{
    height:45px;
    border-radius:10px;
    border:1px solid #d6dce5;
    padding:0 12px;
    font-size:15px;
    transition:.3s;
}

.grupo select:hover,
.grupo input:hover{
    border-color:#005EB8;
}

.grupo select:focus,
.grupo input:focus{
    border-color:#005EB8;
    box-shadow:0 0 8px rgba(0,94,184,.25);
}

.grupo{
    display:flex;
    flex-direction:column;
}

.grupo label{
    margin-bottom:8px;
    font-weight:600;
}

/* TABELA */

.abas{
    display:flex;
    gap:12px;
    margin-bottom:25px;
}

.abas button{
    padding:12px 22px;
    border:none;
    border-radius:10px;
    background:#eef2f7;
    color:#374151;
    font-size:14px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.abas button:hover{
    transform:translateY(-2px);
    background:#dbeafe;
    color:#005EB8;
}

.abas button.ativo{
    background:#005EB8;
    color:#fff;
}

.tabela{
    background:#fff;
    border-radius:18px;
    box-shadow:0 8px 30px rgba(0,0,0,.06);
    padding: 15px;
    font-size: 15px;
}

table{
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
}

.th1{
    font-size: 13px;
}

thead th{
    padding: 8px 4px;
    font-size: 15px;
    text-align:center;
    border-bottom:2px solid #e5e7eb;
    word-wrap:break-word;
}

tbody td{
    padding:8px 5px;
    font-size:15px;
    text-align:center;
    border-bottom:1px solid #edf0f5;
    word-wrap:break-word;
    vertical-align:middle;
}

.professor{
    display:flex;
    align-items:center;
    gap:6px;
}

.avatar{
    width: 30px;
    height: 30px;
    min-width:28px;
    border-radius:50%;
    background:#005EB8;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:12px;
}

.professor h4{
    font-size:15px;
    margin:0;
}

tbody tr:hover{
    background:#f8fbff;
}


.rodape-tabela{
    margin-top:25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:20px;
}

.rodape-tabela span{
    font-size:14px;
    color:#6b7280;
}


.paginacao{
    display:flex;
    align-items:center;
    gap:10px;
}

.paginacao i{
    cursor:pointer;
    color:#6b7280;
    transition:.3s;
}

.paginacao i:hover{
    color:#005EB8;
}

.pagina{
    width:38px;
    height:38px;
    border:none;
    border-radius:10px;
    background:#eef2f7;
    cursor:pointer;
    transition:.3s;
    font-weight:600;
}

.pagina:hover{
    background:#dbeafe;
    transform: scale(1.1);
    color:#005EB8;
}

.pagina.ativa{
    background:#005EB8;
    color:#fff;
}

.itens{
    display:flex;
    align-items:center;
    gap:10px;
}

.itens select{
    width:70px;
    height:40px;
    border:1px solid #d9dee7;
    border-radius:8px;
    padding:0 10px;
    outline:none;
    cursor:pointer;
}

.tabela::-webkit-scrollbar{
    height:8px;
}

.tabela::-webkit-scrollbar-thumb{
    background:#cbd5e1;
    border-radius:20px;
}

.tabela::-webkit-scrollbar-track{
    background:#f3f4f6;
}

@media (max-width:1200px){

    .cards{
        grid-template-columns:repeat(2,1fr);
    }

    .filtros form{
        grid-template-columns:repeat(2,1fr);
    }

}

@media (max-width:900px){

    .sidebar{
        width:90px;
        padding:20px 10px;
    }

    .sidebar nav a{
        justify-content:center;
        font-size:0;
    }

    .sidebar nav a i{
        font-size:20px;
        margin:0;
    }

    .usuario{
        display:none;
    }

    .conteudo{
        margin-left:90px;
        width:calc(100% - 90px);
    }

    .cards{
        grid-template-columns:1fr;
    }

    .filtros form{
        grid-template-columns:1fr;
    }

    .topo{
        flex-direction:column;
        align-items:flex-start;
        gap:20px;
    }

}

@media (max-width:600px){

    .conteudo{
        padding:20px;
    }

    .topo h1{
        font-size:26px;
    }

    .rodape-tabela{
        flex-direction:column;
        align-items:flex-start;
    }

    .abas{
        flex-wrap:wrap;
    }

}